.txt-loop {
    display: flex;
    margin-bottom: 5rem;
    overflow: hidden;
    width: 100vw;
}

.txt-wrap {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    animation: scroll 30s linear infinite;
    width: max-content;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.txt-loop article {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 2.5vh;
    white-space: nowrap;
}

/* 1rem min, 1.25rem max */
.txt-loop article .nyght-regular-italic {
    font-size: clamp(1rem, 3vw - 0.5rem, 1.25rem);
}

.txt-loop article .acidgr {
    font-size: clamp(1rem, 4vw - 0.5rem, 1.5rem);
}