.width-fill {
    width: 100%;
    height: auto;
}

.height-fill {
    height: 100%;
    width: auto;
}

.flex-6-4 {
    display: flex;
    width: 100%;
}

.flex-6-4-gap {
    flex: .25;
}

.flex-6 {
    flex: 6;
}

.flex-4 {
    flex: 4;
}