.width-fill {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.height-fill {
    height: 100%;
    width: auto;
}

/* Flex 6:1:3.45 image*/

.flex-6-345 {
    display: flex;
    width: 100%;
}

.flex-6-345-gap {
    flex: 1;
}

.flex-6 {
    flex: 6;
}

.flex-345 {
    flex: 3.45;
}