.line {
  width: 100%;
  height: 0.5px;
  background-color: rgba(0, 0, 0);
}

html, body {
  height: 100%;
}

body {
  background-color: #EFE9E2;
  color: #0F0E0A;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

figure, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}