.quest-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;

    text-align: center;
    gap: 10vh;
}

.quest-head h1 {
    font-size: 8rem;
}

.quest-head p {
    font-size: 2rem;
    color: #f6aca2;
}


.option-container {
    display: flex;
    gap: 5vw;
}

.option {
    padding: 2rem 4rem;
    border-radius: 1rem;
    border: #f6aca2 0.25rem solid;

    cursor: pointer;
}

.option:hover {
    background-color: #00000011;
}

.center {
  width: 100vw; 
  height: 100vh; 
  justify-content: center; 
  align-items: center;
  display: flex;
  position: absolute;
}

.pgTxt {
  font-size: 2.25rem;
}







html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

figure, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@font-face {
  font-family: "Jersey10";
  src: url("fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.jersey {
    font-family: 'Jersey10';
    font-weight: normal;
    font-style: normal;
}