.quest-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;

    text-align: center;
    gap: 10vh;
}

.quest-head h1 {
    font-size: 8rem;
}

.quest-head p {
    font-size: 2rem;
    color: #f6aca2;
}


.option-container {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}

.options-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.option {
    padding: 2rem 4rem;
    border-radius: 1rem;
    border: #f6aca2 0.25rem solid;

    cursor: pointer;
}

.option:hover {
    background-color: #00000011;
}

.center {
  width: 100vw; 
  height: 100vh; 
  justify-content: center; 
  align-items: center;
  display: flex;
  position: absolute;
}

.pgTxt {
  font-size: 2.25rem;
}




 #frame {
    width: 420px;
    height: auto;
    background: #f6aca2;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Puzzle Grid */
  #puzzle {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    background: #f6aca2;
  }

  .tile {
    background-image: url("image.png");
    background-size: 400px 400px;
    cursor: pointer;
    transition: 0.2s;
  }

  .tile:hover {
    filter: brightness(1.15);
  }

  .empty {
    background: transparent;
    cursor: default;
  }

  .puzzleShuffle {
    margin-top: 15px;
    width: 100%;
    padding: 1rem 0rem;
    background: #f49b90;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .puzzleShuffle:hover {
    background: #f07a6a;
  }

  #message {
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 9, 93);
  }




#scene5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.onward-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #eff8e2;
  border: 0 solid transparent;
  border-radius: 0.25rem;

  white-space: nowrap;
}

.btn-container-right {
  width: 100%;
  margin-right: auto;
  gap: 1rem;

  display: flex;
  flex-direction: row;
}

.btn-container-right p {
  font-size: 1.25rem;
}

.onward-btn:hover {
  background-color: #eff8e2da;
}


.pwrd-container {
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
  flex-direction: column;
}


.final {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option-container-a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  justify-content: center;
  align-items: center;
}

.txt-normal {
  font-size: 2.5rem;
}

.txt-caption {
  font-size: 1.5rem;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

figure, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@font-face {
  font-family: "Jersey10";
  src: url("fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.jersey {
    font-family: 'Jersey10';
    font-weight: normal;
    font-style: normal;
}